.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;

}

@media (max-width: 1150px) {
  .lead {
    max-width: 928px;
  }
}

@media (max-width: 1000px) {
  .lead {
    max-width: 768px;
  }
}
