.lead__subtitle {
  max-width: 640px;
  justify-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 0 64px;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px 0 56px;
  }
}

@media (max-width: 700px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px 0 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

